@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.pabrik-tablist {
  overflow: scroll;
}

.pabrik-tablist::-webkit-scrollbar {
  display: none;
}

img {
  max-width: 100%;
}

.boops {
  display: block;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 9;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.pose-data {
  font-size: 10px;
}

#webcam-container {
  /* position: fixed; */
  /* top: 0; */
  /* left: 0; */
  /* right: 0; */
  /* bottom: 0; */
  width: 100%;
  height: 100%;
  /* background: royalblue; */
}

#app-title {
  /* position: absolute; */
  /* top:0;
  left:0;
  right: 0;
  bottom: 0; */
  z-index: 5;
}

.tutor-text {
  z-index: 5;
}

#start-button {
  width: 200px;
  /* background-color: black;*/
  /* color: white; */
  /* font-size: 16px; */
  border-radius: 30px;
  border: none;
  padding: 15px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2); */
  /* position: fixed; */
  /* bottom: 30px; */
  /* left: calc(50% - 150px); */
  z-index: 10;
}

#emojimage {
  /* position: fixed; */
  /* top: 60px; */
  /* left: calc(50% - 50px); */
  /* border-style: none; */
  width: 100%;
  aspect-ratio: 1;
  object-fit: contain;
}

#emojimage.play {
  /* position: fixed; */
  z-index: 10;
}

#emojis {
  /* display: grid;
  grid-template-columns: repeat(9, 1fr);
  height: 50px; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: -webkit-center;
}

#emojis img {
  opacity: 0.5;
  transition: opacity 200ms linear;
}

#emojis img.found {
  opacity: 1;
}

/* //// */
.main-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background-color: "#5784BA";
  overflow: hidden;
}
.question-container {
  justify-content: space-between;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  font-size: 24px;
  padding: 10px;
  font-weight: 700;
  align-items: center;
}

.main-webcam {
  width: 70%;
  /* height: 100%; */
  position: relative;
}

#webcam {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  transform: scaleX(-1);
  filter: FlipH;
  opacity: 50%;
}

#gesture-canvas {
  position: absolute;
  top: 0;
  left: 0;
  /* height: 100%; */
  width: 100%;
  object-fit: cover;
  transform: scaleX(-1);
  filter: FlipH;
  z-index: 4;
  background-color: rgba(77, 77, 77, 0.568);
}

.video-container{
  display: flex;
  flex-direction: column;
  gap: 100px;
}


/* ///////////// */

.homecontainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white; 
  /* background-image : linear-gradient(315deg, #000000 0%, #7f8c8d 74%); */
  height: 100vh;
}

.heading {
  font-size: 100px;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
  /* margin-top: 20px ; */
}
.heading1 {
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
  margin-left: 0%;
  /* margin-top: 20px ; */
}

.description {
  font-size: 18px;
  margin-bottom: 20px;
  color: black;
  width: 50%;
}

.button-letsGO {
  /* display: inline-block; */
  display: flex;
  justify-content: space-around;
  padding: 10px 20px;
  font-size: 20px;
  text-decoration: none;
  background-color: orange;
  color: #fff;
  border-radius: 5px;
}
.button-new{
 margin: 0 10px;
 padding: 10px 20px;
  font-size: 20px;
  text-decoration: none;
  background-color: orange;
  color: #fff;
  border-radius: 5px;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

.practice-container {
  /* text-align: center; */
  /* background-color: yellow;
  background-color: white; */
  /* background-size: 400% 400%; */
  /* animation: gradient 15s ease infinite; */
  height:100vh;
  width: auto;
  margin:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}
.button-challange-container {
  display:flex;
  flex-direction:column;
  width: 50vw;
  margin: auto;
  /* align-items: center; */

}
.level-button {
  background-color: orange;
  color: white;
  font-size: 25px;
  font-weight: bold;
  padding: 25px 181px;
  margin: 10px 0;
  border: 2px solid black;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.level-button:hover {
  background-color: #be4a33;
  color: #fff;
}

.level-button-completed{
  background-color: green;
  pointer-events: none;
}

.level-disable-button{
  cursor: no-drop;
  background-color: orange;
  opacity: 50%;
  pointer-events: none;
}



/* //////////////// */


.container {
	display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background-color: white;
}

.video {
	/* display: flex;
	justify-content: center;
	align-content: center; */
  margin: 10px;
	/* margin-top: 10rem; */
	/* margin-left: 10rem; */
}

.myId {
	/* margin-right: 5rem; */
  /* max-width: 800px; */
  /* flex-grow: 1; */
	border-radius: 5px;
	background: #c9d6ff; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #e2e2e2, #c9d6ff); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#e2e2e2,
		#c9d6ff
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	padding: 2rem;
	display: grid;
	justify-content: center;
	align-content: center;
  gap: 10px;
  /* height: 50%; */
  /* width: 100%; */
}

.call-button {
	text-align: center;
	margin-top: 2rem;
  height: 30px;
  
  /* color:white; */
  /* background-color: #303f9f; */
  /* border-radius: 10px; */
}


.caller {
	text-align: center;
  display: flex;
  flex-direction: column;
  gap:20px;
  font-size: 20px;
}


.coursessPage{
  margin: 10px;
  background-color: black;
  display: flex;
  color: white;
  width: 98.5%;
  height: 98vh;
  border-radius: 10px;
}
.video-list {
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  color: white;
 }
 
 .video-list li {
  padding: 10px 0; /* Add vertical padding to each list item */
  border-bottom: 1px solid #ccc; /* Add a bottom border to each list item */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
 }
 
 .video-list li:hover {
  background-color: orange; /* Change background color on hover */
 }

 /* Video Section */
.video-section {
  flex: 1;
  padding: 20px;
  background-color: white; /* Light grey background */
  /* border-radius: 10px; Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
 }
 
 .video-section h2 {
  margin-bottom: 20px; /* Space below the heading */
  align-items: center;
 }
 
 .video-section p {
  color: #666; /* Darker text color */
  text-align: center; /* Center the text */
 }
 
 .video-section .react-player {
  width: 100%;
  height: 400px;
 }
 